<h1>Home</h1>

	<partial name="_ListpartialView"></partial>

@{
	ListPartialView listobj = new ListPartialView();
	listobj.ListTitle = "Countries";
	listobj.ListOfCountries = new List<string> { "USA", "Canada", "Japan" };

}
<partial name="_ListpartialView" model="listobj"></partial>
