@* you have stored your html code or javascript in a variable

how can you print it  *@

you can store it in a variable as always 

but you can't print it normally

so to print it we use method or built-in function called HtmlRaw() 

@{
	string alertmessage = "<h1> this is just a text to tes5t the code of the html raw from harsha verdahn</h1>";
}

@{
	Html.Raw(alertmessage);
}


