@using RazorViews_Task.Models
@model CityWeather

<div>
	<div>
		@Model.CityName
	</div>
	<div>
		@Model.CityUniqueCode
	</div>
	<div>
		@Model.DateAndTime
	</div>
	<div>
		@Model.TemperatureFahrenheit
	</div>
</div>