<h1> @ViewBag.EnvironmentName  </h1>
@*check if the environment is development so it will execute the code that insidethe tag helper*@
<environment include="Development">
	<button value="submit">test</button>

</environment>