@using ViewComponent_Assignment.Models
@model Citycomponent

<div>
	<div>
		@foreach (var City in Model.Cities)
		{
			<ul>
				<li>
					@City.CityUniqueCode
				</li>
				<li>
					@City.CityName
				</li>
				<li>
					@City.DateAndTime
				</li>
				<li>
					@City.TemperatureFahrenheit
				</li>
			</ul>
			<button id="btn" value="Details">Details</button>
		}
	</div>
</div>
