<h1>Home</h1>

<button class="button" type="button" id="button-load">Load async</button>

<div class="box async-partial-content"> @* write the javascript code to print the respbody variable in the page *@
	@*here the partial view code should be rendered (respbody var)*@
</div>

<script>
	document.querySelector("#button-load")//returns reference of the button
	.addEventListener("click", async function()
	{
		//here we have to make an asynchronous request using fetch api
		//this function used to send async request ,take url as argu
		//we will wait for a response from the server --> so write await
		//why we will wait ?? because we need the controller executed , partial view executed
		//so this partial view resoponse will be recieved here
		var response = await fetch("async-partial") //-->recievers response from server



		var respbody = await response.text() //read the response body from server
		//contains the actual content from te partial view
		//because partial view content will be sent as reponse
		//so that response body will be recieved into this respbody variable

		document.querySelector(".async-partial-content") //this to have reference on the div
		.innerHTML=respbody //rendering the partial view content (respbody var)
	}); 
</script>


